.properties {
  azimuth: auto;
  background: auto;
  background-attachment: auto;
  background-color: auto;
  background-image: auto;
  background-position: auto;
  background-repeat: auto;
  border: auto;
  border-bottom: auto;
  border-bottom-color: auto;
}

.properties {
  border-bottom-style: auto;
  border-bottom-width: auto;
  border-collapse: auto;
  border-color: auto;
  border-left: auto;
  border-left-color: auto;
  border-left-style: auto;
  border-left-width: auto;
  border-right: auto;
  border-right-color: auto;
}

.properties {
  border-right-style: auto;
  border-right-width: auto;
  border-spacing: auto;
  border-style: auto;
  border-top: auto;
  border-top-color: auto;
  border-top-style: auto;
  border-top-width: auto;
  border-width: auto;
  bottom: auto;
}

.properties {
  caption-side: auto;
  clear: auto;
  clip: auto;
  color: auto;
  content: auto;
  counter-increment: auto;
  counter-reset: auto;
  cue: auto;
  cue-after: auto;
  cue-before: auto;
}

.properties {
  cursor: auto;
  direction: auto;
  display: auto;
  elevation: auto;
  empty-cells: auto;
  float: auto;
  font: auto;
  font-family: auto;
  font-size: auto;
  font-style: auto;
}

.properties {
  font-variant: auto;
  font-weight: auto;
  height: auto;
  left: auto;
  letter-spacing: auto;
  line-height: auto;
  list-style: auto;
  list-style-image: auto;
  list-style-position: auto;
  list-style-type: auto;
}

.properties {
  margin: auto;
  margin-bottom: auto;
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  max-height: auto;
  max-width: auto;
  min-height: auto;
  min-width: auto;
  orphans: auto;
}

.properties {
  outline: auto;
  outline-color: auto;
  outline-style: auto;
  outline-width: auto;
  overflow: auto;
  padding: auto;
  padding-bottom: auto;
  padding-left: auto;
  padding-right: auto;
  padding-top: auto;
}

.properties {
  page-break-after: auto;
  page-break-before: auto;
  page-break-inside: auto;
  pause: auto;
  pause-after: auto;
  pause-before: auto;
  pitch: auto;
  pitch-range: auto;
  play-during: auto;
  position: auto;
}

.properties {
  quotes: auto;
  richness: auto;
  right: auto;
  speak: auto;
  speak-header: auto;
  speak-numeral: auto;
  speak-punctuation: auto;
  speech-rate: auto;
  stress: auto;
  table-layout: auto;
}

.properties {
  text-align: auto;
  text-decoration: auto;
  text-indent: auto;
  text-transform: auto;
  top: auto;
  unicode-bidi: auto;
  vertical-align: auto;
  visibility: auto;
  voice-family: auto;
  volume: auto;
}

.properties {
  white-space: auto;
  widows: auto;
  width: auto;
  word-spacing: auto;
  z-index: auto;
}

.values {;
  display: 100;
  display: 200;
  display: 300;
  display: 400;
  display: 500;
  display: 600;
  display: 700;
  display: 800;
  display: 900;
  display: above;
}

.values {
  display: absolute;
  display: always;
  display: armenian;
  display: auto;
  display: avoid;
  display: baseline;
  display: behind;
  display: below;
  display: bidi-override;
  display: blink;
}

.values {
  display: block;
  display: bold;
  display: bolder;
  display: both;
  display: bottom;
  display: capitalize;
  display: caption;
  display: center;
  display: center-left;
  display: center-right;
}

.values {
  display: circle;
  display: close-quote;
  display: code;
  display: collapse;
  display: continuous;
  display: crosshair;
  display: decimal;
  display: decimal-leading-zero;
  display: default;
  display: digits;
}

.values {
  display: disc;
  display: e-resize;
  display: embed;
  display: far-left;
  display: far-right;
  display: fast;
  display: faster;
  display: fixed;
  display: georgian;
  display: help;
}

.values {
  display: hidden;
  display: hide;
  display: high;
  display: higher;
  display: icon;
  display: inherit;
  display: inline;
  display: inline-block;
  display: inline-table;
  display: inside;
}

.values {
  display: invert;
  display: italic;
  display: justify;
  display: left;
  display: left-side;
  display: leftwards;
  display: level;
  display: lighter;
  display: line-through;
  display: list-item;
}

.values {
  display: loud;
  display: low;
  display: lower;
  display: lower-alpha;
  display: lower-greek;
  display: lower-latin;
  display: lower-roman;
  display: lowercase;
  display: ltr;
  display: medium;
}

.values {
  display: menu;
  display: message-box;
  display: middle;
  display: mix;
  display: move;
  display: n-resize;
  display: ne-resize;
  display: no-close-quote;
  display: no-open-quote;
  display: no-repeat;
}

.values {
  display: none;
  display: normal;
  display: nowrap;
  display: nw-resize;
  display: oblique;
  display: once;
  display: open-quote;
  display: outside;
  display: overline;
  display: pointer;
}

.values {
  display: pre;
  display: pre-line;
  display: pre-wrap;
  display: progress;
  display: relative;
  display: repeat;
  display: repeat-x;
  display: repeat-y;
  display: right;
  display: right-side;
}

.values {
  display: rightwards;
  display: rtl;
  display: s-resize;
  display: scroll;
  display: se-resize;
  display: separate;
  display: show;
  display: silent;
  display: slow;
  display: slower;
}

.values {
  display: small-caps;
  display: small-caption;
  display: soft;
  display: spell-out;
  display: square;
  display: static;
  display: status-bar;
  display: sub;
  display: super;
  display: sw-resize;
}

.values {
  display: table;
  display: table-caption;
  display: table-cell;
  display: table-column;
  display: table-column-group;
  display: table-footer-group;
  display: table-header-group;
  display: table-row;
  display: table-row-group;
  display: text;
}

.values {
  display: text-bottom;
  display: text-top;
  display: top;
  display: transparent;
  display: underline;
  display: upper-alpha;
  display: upper-latin;
  display: upper-roman;
  display: uppercase;
  display: visible;
}

.values {
  display: w-resize;
  display: wait;
  display: x-fast;
  display: x-high;
  display: x-loud;
  display: x-low;
  display: x-slow;
  display: x-soft;
}

.selectors,
div:first-child,
div:link,
div:visited,
div:active,
div:hover,
div:focus,
div:lang(ja),
div + span,
div[foo],
div[foo="warning"],
div[foo~="warning"],
div[lang|="en"],
div.warning,
div#myid {
  display: auto;
}

.font {
  display: serif;
  display: sans-serif;
  display: cursive;
  display: fantasy;
  display: monospace;
  display: xx-small;
  display: x-small;
  display: small;
  display: large;
  display: x-large;
  display: xx-large;
  display: larger;
  display: smaller;
}

.colors {
  display: aqua;
  display: black;
  display: blue;
  display: fuchsia;
  display: gray;
  display: green;
  display: lime;
  display: maroon;
  display: navy;
  display: olive;
  display: purple;
  display: red;
  display: silver;
  display: teal;
  display: yellow;
  display: white
  display: ActiveBorder;
  display: ActiveCaption;
  display: AppWorkspace;
  display: ButtonFace;
  display: ButtonHighlight;
  display: ButtonShadow;
  display: ButtonText;
  display: CaptionText;
  display: GrayText;
  display: Highlight;
  display: HighlightText;
  display: InactiveBorder;
  display: InactiveCaption;
  display: InactiveCaptionText;
  display: InfoBackground;
  display: InfoText;
  display: Menu;
  display: MenuText;
  display: Scrollbar;
  display: ThreeDDarkShadow;
  display: ThreeDFace;
  display: ThreeDHighlight;
  display: ThreeDLightShadow;
  display: ThreeDShadow;
  display: Window;
  display: WindowFrame;
  display: WindowText;
  display: Background;
  display: #fed;
  display: #abcdef;
}

.url {
  display: url("http://example.com/");
}

.functions {
  display: rgb(0, 0, 0);
  display: attr(href);
  display: counter(foo);
  display: rect(0px, 0px, 10px, 10px);
}

.important {
  display auto !important;
}

/* Comment */

.html4-elements,
a,
abbr,
acronym,
address,
applet,
area,
b,
base,
basefont,
bdo,
big,
blockquote,
body,
br,
button,
caption,
center,
cite,
code,
col,
colgroup,
dd,
del,
dfn,
dir,
div,
dl,
dt,
em,
fieldset,
font,
form,
frame,
frameset,
h1,
h2,
h3,
h4,
h5,
h6,
head,
hr,
html,
i,
iframe,
img,
input,
ins,
isindex,
kbd,
label,
legend,
li,
link,
map,
menu,
meta,
noframes,
noscript,
object,
ol,
optgroup,
option,
p,
param,
pre,
q,
s,
samp,
script,
select,
small,
span,
strike,
strong,
style,
sub,
sup,
table,
tbody,
td,
textarea,
tfoot,
th,
thead,
title,
tr,
tt,
u,
ul,
var {
  display: auto;
}

.string {
  display: "\0\00\000\0000\00000\000000";
  display: "Quote \"in\" quote.";
  display: 'Quote \'in\' quote.';
}

@media all, screen, print, aural, braille, embossed, handheld, projection, tty, tv {
  .media {
    display: auto;
  }
}

.values {
  display: 1;
  display: 1.1;
  display: 1%;
  display: 1mm;
  display: 1cm;
  display: 1in;
  display: 1pt;
  display: 1pc;
  display: 1em;
  display: 1ex;
  display: 1px;
  display: 1deg;
  display: 1grad;
  display: 1rad;
  display: 1ms;
  display: 1s;
  display: 1Hz;
  display: 1kHz;
}

@font-face {
  unicode-range: U+0000-U+FF00, U+FF01+U+FFFF;
  unit-per-em: local("Font") format("opentype");
  src: auto;
  panose-1: auto;
  stemv: auto;
  stemh: auto;
  slope: auto;
  cap-height: auto;
  x-height: auto;
  ascent: auto;
  descent: auto;
  widths: auto;
  bbox: auto;
  definition-src: auto;
  baseline: auto;
  centerline: auto;
  mathline: auto;
  topline: auto;
}
